<a href="https://colab.research.google.com/github/MustafaSiddique/PythonMaterialForLearning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### BUILT IN FUNCTIONS : **list** **bold text**

In [2]:

arr1 = [1,2,3,4,5]
arr2 = [3,5,6,1]
print("Lenght of arr1 : ",len(arr1))

print("maximum : ", max(arr2))

print("minimum : " ,min(arr1))

tup = ('a','b','c')
print("complete list is :",list(tup))

arr1.append('mustafa')
print("after append list is : " , arr1)

arr1.count('mustafa')

print("Return index of mustafa : ",arr1.index('mustafa'))

arr1.insert(2,'arsalan')
print("after inserting :",arr1)

print(arr1.pop())
print("after popping last element : ",arr1)

arr1.remove(4)

print("after removing selected index : ",arr1)


arr1.reverse()
print("after reverse : ",arr1)

arr2.reverse()
print(arr2)

arr2.sort()
print("after sorting : ",arr2)

Lenght of arr1 :  5
maximum :  6
minimum :  1
complete list is : ['a', 'b', 'c']
after append list is :  [1, 2, 3, 4, 5, 'mustafa']
Return index of mustafa :  5
after inserting : [1, 2, 'arsalan', 3, 4, 5, 'mustafa']
mustafa
after popping last element :  [1, 2, 'arsalan', 3, 4, 5]
after removing selected index :  [1, 2, 'arsalan', 3, 5]
after reverse :  [5, 3, 'arsalan', 2, 1]
[1, 6, 5, 3]
after sorting :  [1, 3, 5, 6]

# ***TUPLESS***

In [3]:

tup1 = (1,2,3,4,9)
print("lenght of tuple : ",len(tup1))
print("maximum : ", max(tup1))
print("minimum : ",min(tup1))

arr = ['a','b','c']
tup = tuple(arr)
print("after conversion : ",tup)

lenght of tuple :  5
maximum :  9
minimum :  1
after conversion :  ('a', 'b', 'c')

# **DICTIONARY**

In [4]:

dicts = {'a':"apple",'b':2,'c':2.2,'d':{'unique':28}}
print("Dictionary elements : ",dicts)
dicts2 = {'a':"apple",'b':2,'c':2.2,'d':{'unique':28},'u':"mustafa"}
#print(cmp(dicts,dicts2))
print("Length of dictionary : ",len(dicts2))
print("String conversion :",str(dicts))
print("Type : ",type(dicts2))
print("Clear : ",dicts.clear())
print(str(dicts))
temp = dicts2.copy()
print("copy of dictionary : ",temp)

print(temp.get('a'))

print(dicts2.items())

print("Values are : ",dicts2.values())

print("Keys are : ",dicts2.keys())

dicts.update({'m':'mustafa'})
print("after update dictionary : ",dicts)

Dictionary elements :  {'a': 'apple', 'b': 2, 'c': 2.2, 'd': {'unique': 28}}
Length of dictionary :  5
String conversion : {'a': 'apple', 'b': 2, 'c': 2.2, 'd': {'unique': 28}}
Type :  <class 'dict'>
Clear :  None
{}
copy of dictionary :  {'a': 'apple', 'b': 2, 'c': 2.2, 'd': {'unique': 28}, 'u': 'mustafa'}
apple
dict_items([('a', 'apple'), ('b', 2), ('c', 2.2), ('d', {'unique': 28}), ('u', 'mustafa')])
Values are :  dict_values(['apple', 2, 2.2, {'unique': 28}, 'mustafa'])
Keys are :  dict_keys(['a', 'b', 'c', 'd', 'u'])
after update dictionary :  {'m': 'mustafa'}

In [10]:
#1. Store the names of a few of your friends in a list called names.
#Print each person’s name by accessing each element in the list, one at a time.
print("\t\tAnswer 1 ")
name = ["Abdullah","Mehran","Taha","Arsalan"]
for i in name:
  print(i)

		Answer 1
Abdullah
Mehran
Taha
Arsalan

In [9]:
#2. If you could invite anyone, living or deceased, to dinner, who would you invi
#Make a list that includes at least three people you’d like to invite to dinner.
#Then use your list to print a message to each person, inviting them to dinner.
print("\t\tAnswer 2 ")
invitedPerson = ["Abdullah","Mehran","Taha","Arsalan"]
for i in invitedPerson:
  print(i,", you are invited at my home." )

		Answer 2
Abdullah , you are invited at my home.
Mehran , you are invited at my home.
Taha , you are invited at my home.
Arsalan , you are invited at my home.

In [8]:
#3. Changing Guest List: You just heard that one of your guests can’t make the din
# so you need to send out a new set of invitations.
# You’ll have to think of someone else to invite.
#● Modify your list, replacing the name of the guest who can’t make it with the n
#● Print a second set of invitation messages, one for each person who is still in
print("\t\tAnswer 3 ")
invitedPerson = ["Abdullah","Mehran","Taha","Arsalan"]
invitedPerson[invitedPerson.index("Arsalan")] = "Osama"
for i in invitedPerson:
  print(i, ", you are invited at my home" )

		Answer 3
Abdullah , you are invited at my home
Mehran , you are invited at my home
Taha , you are invited at my home
Osama , you are invited at my home

In [7]:
# Create a Class “Employee”, it’s a common base class for all the employees. Then
# initialize employee’s parameters like empName and salary and create functions like
# displayCount() containing the total number of employees in your knowledge base and
# displayEmployee() containing empName and their salary.
print("\t\tAnswer 4 ")
class Employee:
    "t’s a common base class for all the employees"
    totalEmployee = 0
    def __init__(myobject,empName,salary ):
        myobject.empName = empName
        myobject.salary = salary
        Employee.totalEmployee += 1
    
    def displayCount(myobject):
        print("Total Employees are: ",Employee.totalEmployee)
        
    def displayEmployee(myobject):
        print(myobject.empName,myobject.salary)

first = Employee("Mustafa",2000000)
second = Employee("ali",30000)
third = Employee("abdullah",28759)
fourth = Employee("mehran",2925627943)
fifth = Employee("taha",22387647238)
first.displayCount()
first.displayEmployee()
second.displayEmployee()
third.displayEmployee()   
fourth.displayEmployee()
fifth.displayEmployee()

		Answer 4
Total Employees are:  5
Mustafa 2000000
ali 30000
abdullah 28759
mehran 2925627943
taha 22387647238